a {
    color: white !important;

}

.navbar-toggler {
    color: white !important;
}

.navbar-toggler-icon {
    background-color: white !important;
}

.nav-item {
    margin-left: 20px;
}

.nav-item:hover {
    border-bottom: 2px solid green;
}

.nav-item:active {
    border-bottom: 2px solid green;

}

body {
    font-family: 'poppins';
}

.modal-body {
    background-color: rgba(0, 0, 0, 0.774) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: transparent !important; */
}

.fa-search {
    color: white;
}

.first-cont {
    background-image: url(../images/RRU.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.row {
    padding: 10%;
}

.Africa h2 {
    color: #ffffff;
    font-size: 58px;
    font-weight: 700;
    line-height: 68px;
}

.Africa p {
    color: rgba(255, 255, 255, 0.88);
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;

    margin-top: 30px;
}

.footer {
    position: relative;
    left: 0px;
    bottom: 0;
    width: 100%;
    padding-top: 45px;
    background-color: #0f131b;
    color: #6a7281;
    text-align: center;
    height: 90px;


}

.faq {
    background-image: url(../images/contact_map.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contact {
    background: #181e2a;



}

.run-solution {
    border: 2px solid #6a7281;

}

.contact-info {
    border: 2px solid #6a7281;

}